.fontSize-14 {
    font-size: 14px;    
}

/* .labelColor{
    color: #656d9a;
} */
.spinner {
   width: 0.8rem;
   height: 0.8rem;
}

.wid100 {
    width: 100px;
}

.viewPort {
    height: 100vh;
    border: none;
}

.heightAuto {
    height: auto;
}

.alignTotal {
    margin-left: 36.4%;
}

.cursorPointer {
    cursor: pointer;
}

.history {
    margin-top: 1px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.userImgView {
    width: 60px;
    height: 60px
}
/* 
.pageInput {
    width: 80px;
} */

.imageSizing {
    width: 166px;
    height: 32px;
}

.logoBg {
    background-color: cadetblue;
}

.fontClr {
    color: aliceblue;
}

.editImageView {
    transform: translate(30%, -30%);
    font-Size: 0.75rem;
    line-Height: 1;
}

.editImageSizing {
    width: 50px;
    height: 50px;
}

.maxHeight {
    max-height: calc(100vh - 120px);
}

td {
    max-width: 200px; /* Set your desired maximum width */
}

.pLeft {
    padding-left: 20px;
}