.fontSize-14 {
    font-size: 14px;    
}

/* .labelColor{
    color: #656d9a;
} */

.wid-100 {
    width: 100%;
}

.viewPort {
    height: 100vh;
    border: none;
}

.heightAuto {
    height: auto;
}

.alignTotal {
    margin-left: 36.4%;
}

.cursorPointer {
    cursor: pointer;
}

.history {
    margin-top: 1px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.imageSizing {
    width: 60px;
    height: 60px
}