.siberBar.siberBar {
    cursor: pointer;
    color: #ECF0F1;
    transition: 0.3s;
}

.iconContainer {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    width: 99%;
}

.activeIcon {
    background-color: #34495E;
  }

.icon {
    width: 34px;
    text-align: center;
    font-size: 1.2rem;
}

.imgView {
    width: 150px;
}